* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  background: #75890c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #75890c 0%, #a4b357 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #75890c 0%, #a4b357 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #75890c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #75890c 0%, #a4b357 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #75890c 0%, #a4b357 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-container>img {
  margin-left: 5px;
  height: 80%;
}

.header-container>p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.container {
  margin: 0 20px;
  max-width: 800px;
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme>img {
  width: 100%;
}

.meme>h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.meme>.bottom {
  bottom: 0;
}

.meme>.top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form>input {
  width: 45%;
  height: 44px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 1px 10px 1px #75890c;
  font-size: 20px;
}

.meme-form>button {
  margin-right: 5px;
  font-family: VT323, monospace;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: white;
  background: #E6B705;
  box-shadow: 5px 5px 10px #959495;
  border: none;
  border-radius: 3px;
}

.meme-form>button:hover {
  box-shadow: none;
}

.meme-form>input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: VT323, monospace;
  font-size: 18px;
  text-align: cen
}

.meme-form>input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: VT323, monospace;
  font-size: 18px;
  text-align: center;
}

.meme-form>input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: VT323, monospace;
  font-size: 18px;
  text-align: center;
}

.meme-form>input:-moz-placeholder {
  /* Firefox 18- */
  font-family: VT323, monospace;
  font-size: 18px;
  text-align: center;
}